html,
body {
  height: 100vh;
  color: #fff;
}

body {
  margin: 0;
}

.page-container {
  height: 100vh;
  background-color: #969696;
}

.page-header {
  background: rgb(73, 73, 74);
  height: 158px;
}

.page-footer {
  background: rgb(73, 50, 74);
  height: 40px;
}
