@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-redColor: #461919;
  --primary-whiteColor: #ffffff;
  --primary-ligtRedColor: #ff9999ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
  background-color: var(--primary-redColor);
}

main {
  background-image: linear-gradient(rgba(50, 0, 0, 0.7), rgba(50, 0, 0, 0.7)), url(../image/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 160px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-whiteColor);
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.userInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--primary-whiteColor);
}

.userDetails {
  margin-left: 10px;
}

.userDetails p {
  margin: 0;
  color: var(--primary-whiteColor);
}

.userName {
  font-family: "Chela One", cursive;
  font-size: 28px;
  color: yellow;
}

#email {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #aaa;
}

#credits {
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
}

li {
  list-style: none;
}

li a {
  color: var(--primary-whiteColor);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
  color: var(--primary-whiteColor);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary-ligtRedColor);
  text-decoration: underline;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: var(--primary-whiteColor);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#cardHolder {
  max-width: 90%;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: black;
  padding: 20px;
  max-width: 100%;
  margin: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

#cardHeader {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  color: var(--primary-redColor);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-redColor);
  color: var(--primary-whiteColor);
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postImage {
  width: 100px;
  margin: 5px;
  border: 1px solid black;
}

.postImage:hover {
  width: 300px;
}

.postImage:active,
.postImage:focus {
  width: 800px;
  border: 2px solid pink;
}

#tableBody {
  color: black;
}

table {
  width: 80%;
  background-color: var(--primary-whiteColor);
  border: 1px solid black;
}

/* ---------- @media ---------- */

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .hamburger {
    display: block;
    color: var(--primary-whiteColor);
  }

  .hamburger:hover {
    display: block;
    color: var(--primary-ligtRedColor);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 150px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 1440px, min-width: 768px) {
  .card {
    max-width: 100%;
  }

  .hamburger {
    display: block;
    color: var(--primary-whiteColor);
  }

  .hamburger:hover {
    display: block;
    color: var(--primary-ligtRedColor);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 150px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
