.bid {
  padding: 8px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 16px;
  width: 70px;
  margin-right: 5px;
}

.placeBid {
  font-size: 16px;
  flex-basis: 48%;
  background: #461919;
  color: #fff;
  height: 35px;
  width: 120px;
  border-radius: 6px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
  font-weight: bold;
}

.placeBid:hover {
  background: #953232;
}
